DATABASE_URL=postgres://radar:radar@127.0.0.1:5432/radar
TEST_DATABASE_URL=postgres://radar:radar@127.0.0.1:5433/radar_test
APP_BASE_URL=http://127.0.0.1:3000
APP_ENCRYPTION_KEY=
INITIAL_BACKFILL_DAYS=60
SCAN_DETAIL_RETENTION_DAYS=30
ITUNES_DISCOVERY_ENABLED=false
ITUNES_STOREFRONT=US
ITUNES_LANGUAGE=en_us
ITUNES_MIN_REQUEST_INTERVAL_MS=3200
ITUNES_MAX_REQUESTS_PER_RUN=200
ITUNES_CONCURRENCY=1
ITUNES_REQUEST_TIMEOUT_MS=15000
ITUNES_MAX_RESPONSE_BYTES=5242880
APPLE_MUSIC_ENABLED=false
APPLE_MUSIC_TEAM_ID=YOUR_TEAM_ID
APPLE_MUSIC_KEY_ID=YOUR_KEY_ID
APPLE_MUSIC_MEDIA_ID=media.com.example.releaseradar
APPLE_MUSIC_PRIVATE_KEY_PATH=C:\path\outside\repository\AuthKey_YOUR_KEY_ID.p8
APPLE_MUSIC_STOREFRONT=us
APPLE_COMPOSE_PROJECT=codex_world_1_apple
APPLE_WEB_PORT=3002
APPLE_DATABASE_NAME=radar_apple
APPLE_DATABASE_PORT=55435
APPLE_TEST_DATABASE_NAME=radar_apple_test
APPLE_TEST_DATABASE_PORT=55436
APP_DATA_DIR=
APP_LOG_DIR=
APP_BACKUP_DIR=
DAILY_SCAN_TIME=
SPOTIFY_ENABLED=true
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/spotify/callback
SPOTIFY_PLAYLIST_WRITES_ENABLED=false
SPOTIFY_ALLOWED_PLAYLIST_ID=
SPOTIFY_MAX_REQUESTS_PER_RUN=150
SPOTIFY_RECONCILIATION_ARTISTS_PER_BATCH=15
SPOTIFY_RECONCILIATION_CYCLE_DAYS=30
SPOTIFY_RECONCILIATION_MAX_PAGES_PER_RUN=2
SPOTIFY_MAX_CONCURRENCY=1
SPOTIFY_MIN_REQUEST_INTERVAL_MS=5000
SPOTIFY_ARTISTS_PER_BATCH=15
SPOTIFY_BATCH_PAUSE_SECONDS=60
SPOTIFY_INITIAL_MAX_PAGES_PER_ARTIST=2
SPOTIFY_DAILY_MAX_PAGES_PER_ARTIST=1
SPOTIFY_SCAN_DISTRIBUTION_HOURS=24
SPOTIFY_SCHEDULER_ENABLED=false
SPOTIFY_SCHEDULER_MAX_REQUESTS_PER_TICK=6
SPOTIFY_SCHEDULER_MAX_RUNTIME_MS=90000
SPOTIFY_SCHEDULER_ROLLING_30M_LIMIT=30
SPOTIFY_SCHEDULER_ROLLING_24H_LIMIT=1200
MUSICBRAINZ_ENABLED=true
MUSICBRAINZ_CONTACT_EMAIL=
SOUNDCLOUD_MANUAL_LINKS_ENABLED=false
REDDIT_ENABLED=false
REDDIT_ACCESS_APPROVED=false
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=
REDDIT_INTERNAL_MAX_QPM=30
REDDIT_INITIAL_BACKFILL_DAYS=14
REDDIT_SCAN_OVERLAP_HOURS=72
REDDIT_MAX_PAGES_PER_SUBREDDIT=10
REDDIT_INCLUDE_COMMENTS=false
